<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>243761653274-or1gdi1gdlbf64gmbms095dujrs5h8sn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.243761653274-or1gdi1gdlbf64gmbms095dujrs5h8sn</string>
	<key>API_KEY</key>
	<string>AIzaSyDV61aLO4SXajur1kgOSnN3kG5jIYIw4i0</string>
	<key>GCM_SENDER_ID</key>
	<string>243761653274</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.colorgy.TestChatViewController</string>
	<key>PROJECT_ID</key>
	<string>test-chat-3b1de</string>
	<key>STORAGE_BUCKET</key>
	<string>test-chat-3b1de.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:243761653274:ios:ab62ce45d10795d1</string>
	<key>DATABASE_URL</key>
	<string>https://test-chat-3b1de.firebaseio.com</string>
</dict>
</plist>